body {
  margin: 20px;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.inline-blk {
  display: inline-block;
  margin-top: 10px;
}

.board-label {
  margin-top: 40px;
}

.start {
  position: absolute;
}

.try-again {
  position: absolute;
  margin-left: 93px;
}

.reset {
  position: absolute;
  margin-left: 200px;
}